name: 01 - Fundamentos de JS I - Tests

on:
  push:
    branches: [ main, practica-1-AdrianOlmedo ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      
      - name: Instalar dependencias del proyecto
        run: npm ci
      - name: Ejecutar tests
        run: npm run test1